<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- FastAPI リダイレクト -->
        <rule name="FastAPI" stopProcessing="true">
          <match url="api/.*" />
          <action type="Rewrite" url="http://localhost:8000/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
